/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */

.home .entry-header {
  display: none;
}
 .widget-area .widget {
   font-size: 1em;
 }

.widget_nav_menu li, .widget_product_categories li {
  margin: 0 !important;
  padding: 12px 10px 12px 0px;
}
#secondary .widget_nav_menu li, #secondary .widget_product_categories li {
  background-color: #fffacd;
}
#secondary .widget_nav_menu li, #secondary .widget_product_categories > ul > li {
  border-top: 1px solid #eee4d0;
  border-left: 1px solid #eee4d0;
  border-right: 1px solid #eee4d0;
}

#secondary .widget_nav_menu li.current-menu-item, #secondary .widget_product_categories li.current-menu-item
#secondary .widget_nav_menu li.current-cat, #secondary .widget_product_categories li.current-cat,
#secondary .widget_product_categories li.current-cat li
{
  background-color: #fffdf0;
}

.widget_nav_menu ul li:before {
  content: "";
}
.widget_product_categories ul li:before {
  content: "";
}
.widget_product_categories ul li.cat-parent:before {
  content: "";
}

/* not working */
.widget_product_categories ul li.current-cat:before {
  content: "" !important;
}

#secondary .widget_nav_menu, #secondary .widget_product_categories  {
  margin: 0 !important;
}

#colophon .widget_nav_menu li, #colophon .widget_product_categories > ul > li {
  padding-left: 0;
}

#secondary { display: none;}

/* disable woocommerce product zoom (hide controls */
.pswp--zoom-allowed .pswp__img {
  cursor: default !important
}
.pswp__button--zoom {
  display: none !important;
}

@media (min-width: 768px) {
  #secondary {
    display: block;
  }
}

.site-header {
  background-repeat: no-repeat;
  background-color: #201008;
  background-color: #000000;
  background-image: url( '/wp-content/uploads/vinyl-nirvana-site-header-320-v2.png' );
  background-position: top left;
  background-position: top center;
}
button.menu-toggle {
  float: left;
  margin-left: 1%;
  margin-left: 0;
  margin-left: -12px;
  padding: 8px 20px;
  background-color: transparent;

}
button.menu-toggle:hover {
  background-color: transparent;

}
button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before {
    background-color: white;
}
.main-navigation.toggled > .handheld-navigation > ul  {
  padding-top: 20px;
}
.main-navigation > .handheld-navigation > ul li a {
  color: white;
}
@media (min-width: 570px) {

  button.menu-toggle {
    margin-left: -35px;
    margin-left: 1%;
    margin-left: 0;

  }
  .main-navigation.toggled > .handheld-navigation > ul  {
    padding-top: 40px;
  }
}

@media (min-width: 640px) {
  .site-header {
    /* background-repeat: repeat-x; */
    background-image: url( '/wp-content/uploads/vinyl-nirvana-site-header-640-v2.png' );
    background-position: top left;
  }
  .site-header > .col-full {
    margin-bottom: 20px;
    margin-bottom: 0px;
  }

  button.menu-toggle {
    margin-left: -35px;
    margin-left: -40px;
  }
}
@media (min-width: 768px) {

  .site-header > .col-full {
    margin-bottom: 0px

  }
  .site-header  {
    height: 100px;

  }
}
@media (min-width: 1024px) {
  .site-header {
    /* background-repeat: repeat-x; */
    background-image: url( '/wp-content/uploads/vinyl-nirvana-site-header-1024-v2.png' );
    background-position: top center;
    height: 120px;

  }
}
@media (min-width: 600px) {
  .site-header {
    /* background-repeat: repeat-x; */
  }
}
.site-header-cart {
  color: white;
}
.site-header-cart a,
.site-header-cart .cart-contents,
.site-header-cart .widget_shopping_cart a {
  color: white;
}
/*************/

.woocommerce-variation-price {
	font-size:32px;
	font-weight: bold;
}

.woocommerce-products-header, .storefront-sorting {
	/* display: none; */
}

.site-branding {
	width: 50% !important;
  /* height: 50px; */
  display: none !important;
  /* border: 1px solid white; */
}

.site-branding .site-title a,
.footer-widget-2 .widget-title
 {
	font-family: 'Crimson-Text';
	font-style: italic;
	letter-spacing: 0.02em
}
.site-branding .site-title a,
.site-branding .site-description,
.footer-widget-2 .widget-title

 {
  color: #231f20;

}

.page-id-126
	.entry-header {
		display:none
}

.page-id-126 ul.products li.product .price {
	display: none;
}

.secondary-navigation {
	display: none;
}
.woocommerce-breadcrumb a {
	/* display: none; */
}

.woocommerce-breadcrumb  {
	/* padding: 10px 0px; */
	margin-bottom: 1em;
}
.product_cat-diy-mod-project  .price {
	display:none;
}
#secondary .widget {
	margin: 0 0 2em;
}

.vn-child-pages {
    margin: 0 0 0px 10px;
    list-style-type: none;
}
.vn-child-pages li {
  list-style-type: none;
}
.vn-child-pages li a {
  font-size: 1.41575em;
  font-weight: bold;
}
.vn-child-pages > li > ul {
  margin-bottom: 20px;

}
.vn-child-pages li ul li a {
  font-size: 1.21575em;
  font-weight: normal;

}
.entry-content a:hover {
  text-decoration: underline;
}




/* from customizer */

.woocommerce-variation-price {
	font-size:32px;
	font-weight: bold;
}



.page-id-126
	.entry-header {
		display:none
}

.page-id-126 ul.products li.product .price {
	display: none;
}

.secondary-navigation {
	display: none;
}

.woocommerce-breadcrumb  {
	/* padding: 10px 0px; */
	margin-bottom: 1em;
}
.product_cat-diy-mod-project  .price {
	display:none;
}
#secondary .widget {
	margin: 0 0 2em;

}

.home h1.entry-title {
	display:none;
}

.product-type-composite > .summary > .price {
  display: none;
}

.woocommerce-active .site-header .site-search {
  margin-top: -25px !important;
}

.bundled_product_title_link {
	display: none;
}
